@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1718;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

/* Degradado personalizado */
.bg-gradient-active {
  background: linear-gradient(80deg, #ff29d7 70%, white);
}

/* Bordes degradados personalizados */
.gradient-border {
  background: linear-gradient(to right, #ff29d7 70%, white) border-box;
  border: 4px solid transparent;
  border-radius: 0.5rem;
}
.gradient-border1 {
  background: linear-gradient(to right, #ff29d7 70%, white) border-box;
  border: 6px solid transparent;
  border-radius: 2rem;
}
.gradient-border2 {
  background: linear-gradient(#1a1718) padding-box,
              linear-gradient(to right, #ff29d7, #f582e0) border-box;
  border: 7px solid transparent;
  border-radius: 2rem;
}
